<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block styles %}
        {{ bootstrap.load_css() }}
        <style>
            body {
                padding: 10px;
            }
            nav {
                margin-bottom: 10px;
            }
        </style>
    {% endblock %}
    <title>Gerenciador de documentos</title>
    {% endblock %}
</head>
<body>
    
    {% block navbar %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ url_for('navigation.index') }}">Gerenciador de Documentos</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Opções de tratativa
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{{ url_for('navigation.index_pdf') }}">PDF</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('navigation.index_excel') }}">Excel</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{{ url_for('navigation.index_image') }}">Image</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('navigation.index_zip') }}">ZIP</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      {% endblock %}

    {% block content %}

    <h1>Leitura de Imagem</h1>
    <form action="{{ url_for('calls.image_read_text') }}" id="arquivo" method="POST" enctype="multipart/form-data">
        <input type="file" id="leitura_image" name="leitura_image" required> 
        <button type="submit" style="background-color: red; color: white;" class="btn">Ler Imagem</button>
    </form>
    {% if text_image != None %}
    <pre>{{text_image}}</pre>
    {% endif %}
    {% endblock %}
    {% block scripts %}
        {{ bootstrap.load_js() }}
    {% endblock %}
</body>
</html>