{% extends 'base.html' %}
{% block title %}
Extrair Zip
{% endblock %}
{% block content %}
<form action="{{ url_for('calls.extracting_ziped_files') }}" id="arquivo" method="POST" enctype="multipart/form-data">
  <input type="file" id="zipando_arquivos" name="zipando_arquivos" required> 
  <button type="submit" style="background-color: red; color: white;" class="btn">Extrair arquivos</button>
</form>
{% if files_folders != [] %}
  <h4>Arquivos dentro do arquivo zipado</h4>
  {% for file_folder in files_folders %}
      <p>{{ file_folder }}</p>
  {% endfor %}
{% endif %}
{% endblock %}