{% extends 'base.html' %}
{% block title %}
Zipar
{% endblock %}
{% block content %}
<form action="{{ url_for('calls.zip_file') }}" id="arquivo" method="POST" enctype="multipart/form-data">
  <input type="file" id="zipando_arquivo" name="zipando_arquivo" required multiple>
  <button type="submit" style="background-color: red; color: white;" class="btn">Zipar arquivo</button>
</form>
{% if download == True %}
<a href="{{ url_for('calls.donwload_ziped_file') }}">Download</a>
{% endif %}
{% endblock %}