<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block styles %}
        {{ bootstrap.load_css() }}
    {% endblock %}
    <title>Gerenciador de documentos</title>
    {% endblock %}
</head>
<body>
    {% block content %}
    <h1>Opções de tratativa</h1>
    <ul>
        <li><a href="pdf_escolha">PDF</a></li>
        <li><a href="excel_escolha">Arquivo Excel</a></li>
        <li><a href="zip_escolha">Zipagem</a></li>
        <li><a href="imagem_escolha">Imagens</a></li>
    </ul>
    {% endblock %}
    {% block scripts %}
        {{ bootstrap.load_js() }}
    {% endblock %}
</body>
</html>